.hero_container {
  max-width: 75vw;
  margin: 0 auto;
  padding: 2.44rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.pfp {
  opacity: 0;
}
.hero_content {
  margin-top: 38px;
}
h1 {
  font-size: 88px;
  font-weight: 700;
  line-height: 88px;
  letter-spacing: -2.5px;
  text-align: left;
}

h1 span {
  border-bottom: 5px solid #4ee1a0;
}

.hero_content p {
  width: 445px;
  height: 84px;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  text-align: left;
  color: #d9d9d9;
  margin-top: 43px;
}

.button {
  margin-top: 66px;
}

.hero_pic {
  position: absolute;
  top: -23%;
  right: -5px;
  z-index: -1;
}

.oval {
  position: relative;
  top: 100px;
  right: 273px;
}
.ovalHalf {
  opacity: 0;
}

.circle {
  position: relative;
  bottom: 560px;
  right: 165px;
}

@media only screen and (max-width: 768px) {
  * {
    margin: 0;
    padding: 0;
  }
  .pfp {
    opacity: 0;
  }
  .hero_container {
    max-width: 768px;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }
  .hero_content {
    width: 445px;
    height: 449px;
  }
  .hero_content h1 {
    font-family: Space Grotesk;
    font-size: 55px;
    font-weight: 700;
    line-height: 72px;
    letter-spacing: -2.045454502105713px;
    text-align: left;
  }
  .hero_content p {
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    text-align: left;
  }
  .hero_pic {
    width: 322px;
    height: 600px;
  }
  .ovalHalf {
    opacity: 1;
    position: relative;
    bottom: -70px;
    right: -55px;
  }
  .oval {
    opacity: 0;
  }

  .circle {
    position: relative;
    bottom: 432px;
    left: -240px;
  }
}
@media only screen and (max-width: 480px) {
  * {
    padding: 0;
    margin: 0;
  }
  body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  .hero_pic {
    opacity: 0;
    right: 50px;
  }
  .hero_container {
    max-width: 375px;
    display: flex;
    height: auto;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 0;
    margin: 0 auto;
    padding: 0;
  }
  .pfp {
    opacity: 1;
    position: relative;
    width: 174.21px;
    height: 242px;
    top: -93px;
    left: 0px;
    margin: 0;
    padding: 0;
  }
  .circle {
    position: relative;
    top: -560px;
    left: -260px;
  }
  .ovalHalf {
    position: relative;
    top: 123px;
    left: 90px;
  }
  .hero_content {
    width: 343px;
    height: auto;
    padding: 0;
    margin-top: -60px;
    margin-bottom: -60px;
  }
  .hero_content h1 {
    font-family: Space Grotesk;
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -1.1363636255264282px;
    text-align: center;
  }
  .hero_content p {
    font-family: Space Grotesk;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    text-align: center;
    max-width: 343px;
  }
  .button {
    text-align: center;
    margin: 0;
    padding: 24px 0;
  }
}
